.body_index
{
    color:  white;
    background-image: url("./images/bg\ html.gif");
    background-size: cover;
    text-align: center;
}

ul:hover
{
    color: black
}


iframe
{
    height: 672px;
    width: 1196px;
    border: none;
    display:block;
    margin: 0 auto;
}

li
{
    font-size: 600%;
}

h1
{
    font-size: 800%;
    text-align: center;
}

#element::-webkit-scrollbar {
    display: none;
}

a
{
    color: black;
    text-align: center;
    font-size: 500%;
    text-decoration: none;
}

.body2
{
    color:  white;
    background-image: url("./images/bg\ html.gif");
    background-size: cover;
    text-align: center;
}

.Liens
{
    color:darkred;
    text-align: center;
}

.myDiv{
    font-size:30px
}
